*{padding:0;margin:0;}
body{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
nav{
	height:10vh;
	line-height: 100px;
	position: fixed;
	width:100vw;
	background-color: black;
	z-index: 100;
}
	#id_img{
		margin-top: 15px;
		height:70px;
		width:70px;
		border-radius: 40px;
		background-color: white;
	}
#proposition_container{
	background-color:lightgrey;
	padding-top:10vh;
	height:90vh;
	width: 79%;
	float: left;

	display: flex;
	flex-wrap: wrap;
}	
	.propContainerLeft{
		width:50%;
		height: 90vh;
		/*background-color: red;*/
		display: flex;
		flex-wrap: wrap;
	}
	.titleLeft{
		width: 90%;
		margin:5%;
		height: 3em;
		line-height: 3em;
		/*background-color: grey; */
		font-size: 2em;
	}
	.propContainerLeft img{
		width:40%;
		height: 40vh;
		margin-left: 5%;
		background-color: green;
	}
	.detail{
		width:35%;
		height: 40vh;
		margin-left: 3%;
		/*background-color: blue;*/
		text-align: justify;
	}

	.synopsis{
		width: 90%;
		margin: 0 5%;
		height: 20vh;
		/*background-color: blue;*/
		text-align: justify;
	}
	.propContainerRight{
		width:47.5%;
		height: 90vh;
		margin-left: 2%;
		/*background-color: blue;*/
		border-left: dotted 1px;
	}
	.titleRight{
		width: 90%;
		margin:5% 5%;
		height: 3em;
		line-height: 3em;
		background-color: grey; 
		font-size: 1.5em;
		margin-bottom: 10vh;
	}
	.Recommandation{
		width: 90%;
		margin:0 5%;
		/*background-color: red;*/
		display: flex;
		flex-wrap: wrap;
	}
		.proposition{
			width:24%;
			height:150px;
			background-color: grey;
			margin:5px 0.5%;
		}


	.side_block{
		width: 7%;
		padding-top:10vh;
		height:90vh;
		background-color: red;
		float: left;
	}
	#side_block_2{
		background-color: green;
	}
	#side_block_3{
		background-color: pink;
	}
		.side_block_title{
			width: 80px;
			height:80px;
			border-radius: 50px;
			background-color: white;
			margin:20px auto;
		}
footer{
	clear: left;
	width: 100%;
	height: 150px;
	background-color: purple;
}